﻿<div class="${baseClass}">

    <div data-dojo-attach-point="areaReportTabContentNode">
      <div class="printHeader" data-dojo-attach-point="printHeaderNode">
        <fieldset class="printPanel" data-dojo-type="dijit/Fieldset"><legend>Print</legend>
            <table width='100%'>
              <tr>
                <td style="width:50px;">
                  <input type="radio" id="${baseClass}_pdf" name="format" checked value="pdf" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="pdfRadioNode" /> 
                  <label for="${baseClass}_pdf" data-dojo-attach-point="pdfNode">PDF</label>
                </td>
              </tr><tr>
                <td>
                  <input type="radio" id="${baseClass}_xls" name="format" value="xls" data-dojo-type="dijit/form/RadioButton" /> 
                  <label for="${baseClass}_xls" data-dojo-attach-point="xlsNode">Excel</label>
                </td>
              </tr><tr>
                <td>
                  <small data-dojo-attach-point="printLinkHintNode" class="reportHint">[Click link to download]</small>
                </td>
              </tr>
              
            </table>
            <button data-dojo-attach-point="printNode" data-dojo-type="dijit/form/Button" class="printButton" type="button" data-dojo-props="disabled:true, iconClass:'dijitIconPrint', showLabel:true">Print Report</button>
        </fieldset>
      </div>
      <!--<button data-dojo-attach-point="goNode" data-dojo-type="dijit/form/Button" type="button" data-dojo-props="disabled:false">Run Report</button>-->
      <div class="report" data-dojo-attach-point="reportNode">
        <div id="${baseClass}_reportNode" data-dojo-attach-point="reportContentNode">
          <table width='100%'>
            <tbody id="${baseClass}_headerRows" data-dojo-attach-point="headerRows"> </tbody>
          </table>
          <br>
          <table class="borderedTable">
            <thead>
              <tr><th>Conservation Commitment Type</th><th>Area within Searched Area (ha)^</th><th>Proportion of Searched Area (%)</th></tr>
            </thead>
            <tbody id="${baseClass}_ccRows" data-dojo-attach-point="ccRows"> </tbody>
          </table>
        </div>
        <div data-dojo-attach-point="reportDisclaimerNode"> 
          <div class="reportHint"><br /><small>* Total amounts calculated for conservation commitment data may not equal the summed total of each individual conservation commitment.  This is due to overlaps between some conservation commitments.
          <br />^ All area calculations were performed in Lamberts Conformal Conic projection (GDA 1994).  
            The area calculated for each conservation commitment type includes only features entirely within the search area.  
            Where a feature extends outside the searched area only that portion of the feature within the search area is included in the calculations.</small></div>
        </div>
      </div>
      <div id="${baseClass}_warningNode" data-dojo-attach-point="warningNode"> </div>
      <br />

    </div>
    
    <div data-dojo-type="dojox/widget/Standby" data-dojo-attach-point="busyNode"></div>

</div>