  <div class="contentPane" data-dojo-attach-point='contentPaneNode'>
    <div class="contentPaneTitle" data-dojo-attach-point='titleNode'></div>
    <div class="contentPaneContent" data-dojo-attach-point='containerNode'></div>
  </div>