<div class="${baseClass}">
  <form action="#" class="alignedControls">
    <div class="formHeader">
      <div id="${baseClass}__toolbar" class="toolbar" data-dojo-attach-point="toolbarNode">
        <div id="${baseClass}__text" class="toolDrawText" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolTextNode" title="Text"></div>
        <div id="${baseClass}__point" class="toolDrawPoint" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolPointNode" title="Marker"></div>
        <div id="${baseClass}__multipoint" class="toolDrawMultipoint" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolMultipointNode" title="Multipoint Marker"></div>
        <div id="${baseClass}__polyline" class="toolDrawPolyline" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolPolylineNode" title="Polyline"></div>
        <div id="${baseClass}__freehandpolyline" class="toolDrawFreehandPolyline" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolFreehandPolylineNode" title="Freehand Polyline"></div>
        <div id="${baseClass}__polygon" class="toolDrawPolygon" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolPolygonNode" title="Polygon"></div>
        <div id="${baseClass}__freehandpolygon" class="toolDrawFreehandPolygon" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolFreehandPolygonNode" title="Freehand Polygon"></div>
        <div id="${baseClass}__circle" class="toolDrawCircle" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolCircleNode" title="Circle"></div>
        <div id="${baseClass}__triangle" class="toolDrawTriangle" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolTriangleNode" title="Triangle"></div>
        <div id="${baseClass}__rectangle" class="toolDrawRectangle" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolRectangleNode" title="Rectangle"></div>
        <div id="${baseClass}__arrow" class="toolDrawArrow" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolArrowNode" title="Arrow"></div>
        <div id="${baseClass}__ellipse" class="toolDrawEllipse" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolEllipseNode" title="Ellipse"></div>
      </div>
    </div>
    <fieldset data-dojo-attach-point="drawGraphicsNode">
      <table>
        <th style="width:90px;"></th><th></th>
        <tr>
          <td>
            <label>Marker</label>
          </td><td>
            <table>
              <tr>
                <td>
                  <select name="Marker" data-dojo-type="dijit/form/Select" data-dojo-attach-point="markerTypeNode" style="width: 80px; font-size:120%;">
                    <OPTION value="circle">Circle</OPTION>
                    <OPTION value="cross">Cross</OPTION>
                    <OPTION value="diamond">Diamond</OPTION>
                    <OPTION value="path" selected="selected">Pin</OPTION>
                    <OPTION value="square">Square</OPTION>
                    <OPTION value="x">X</OPTION>
                  </select>
                </td><td>
                  <input data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="markerSizeNode" class="spinner" value="18" data-dojo-props="smallDelta:1, constraints:{min:8,max:150,places:0}" name="someNumber" />
                </td>
              </tr>
            </table>
          </td>
        </tr><tr>
          <td>
            <label for="${baseClass}__borderWidth">Border Width</label>
          </td><td>
            <table><tr><td>
              <input data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="borderWidthNode" class="spinner" id="${baseClass}__borderWidth" value="1" data-dojo-props="smallDelta:1, constraints:{min:1,max:100,places:0}" name="someNumber" />
            </td></tr></table>
          </td>
        </tr><tr>
          <td>
            <label>Border Color</label>
          </td><td>
            <table>
              <tr>
                <td>
                  <div data-dojo-attach-point="borderColorSelectNode" style="background-color: #FFFFFF; border-color: black; border-width: 1px;" dojoType="dijit/form/DropDownButton"> 
                    <span> 
                      <span id="${baseClass}__borderColorSwatch" data-dojo-attach-point="borderColorSwatchNode" style="height: 10px; width: 10px; border: 1px solid black; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </span>
                    <div data-dojo-type="dijit/TooltipDialog"  data-dojo-attach-point="borderColorDialogNode" title="Color Palette">
                      <div data-dojo-type="dijit/ColorPalette" data-dojo-attach-point="borderColorPaletteWidgetNode"></div>
                    </div>
                  </div>
                </td><td>
                  <div data-dojo-attach-point="borderTransSliderNode"></div>
                </td><td>
                  <label data-dojo-attach-point="borderTransInputNode">0%</label>
                </td>
            </tr></table>
          </td>
        </tr><tr>
          <td>
            <label>Fill Color</label>
          </td><td>
            <table>
              <tr><td>
                  <div data-dojo-attach-point="fillColorSelectNode" dojoType="dijit/form/DropDownButton">
                    <span>
                      <span id="${baseClass}__fillColorSwatchNode" data-dojo-attach-point="fillColorSwatchNode" style="height: 10px; width: 10px; border: 1px solid black; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </span>
                    <div data-dojo-type="dijit/TooltipDialog" data-dojo-attach-point="fillColorDialogNode" title="Color Palette">
                      <div data-dojo-type="dijit/ColorPalette" data-dojo-attach-point="fillColorPaletteWidgetNode"></div>
                    </div>
                  </div>
                </td><td style="padding: 0px;">
                  <div data-dojo-attach-point="fillTransSliderNode" style="width:100px;"></div>
                </td><td>
                  <label id="${baseClass}__fillTransInput" data-dojo-attach-point="fillTransInputNode">0%</label>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br>
      <small>[Right-click graphic on map to edit]</small> 
    </fieldset>
    <fieldset data-dojo-attach-point="drawTextNode" style="display: none;">
      <table>
        <th style="width:50px;"></th><th></th>
        <tr>
          <td>
            <label for="${baseClass}__drawText">Text</label>
          </td><td>
            <table><tr><td>
            < id="${baseClass}__drawText" data-dojo-attach-point="textNode" data-dojo-type="dijit/form/TextBox" value="" placeHolder="Enter text here" data-dojo-props="intermediateChanges:true">
            </td></tr></table>
          </td>
        </tr><tr>
          <td>
            <label for="${baseClass}__textTransInput">Color</label>
          </td><td>
            <table>
              <tr><td>
                <div data-dojo-attach-point="textColorSelectNode" style="background-color: #FFFFFF; border-color: black; border-width: 1px;" dojoType="dijit/form/DropDownButton"> 
                  <span>
                    <span id="${baseClass}__textColorSwatch" data-dojo-attach-point="textColorSwatchNode" style="height: 10px; width: 10px; border: 1px solid black; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  </span>
                  <div data-dojo-type="dijit/TooltipDialog"  data-dojo-attach-point="textColorDialogNode" title="Color Palette">
                    <div data-dojo-type="dijit/ColorPalette" data-dojo-attach-point="textColorPaletteWidgetNode"></div>
                  </div>
                </div>
              </td><td>
                <div data-dojo-attach-point="textTransSliderNode"></div>
              </td><td>
                <label id="${baseClass}__textTransInput" data-dojo-attach-point="textTransInputNode">0%</label>
              </td></tr>
            </table>
          </td>
        </tr><tr>
          <td>
            <label for="${baseClass}__fontSize">Font</label>
          </td><td>
            <table><tr><td>
            <input data-dojo-attach-point="fontSizeNode" data-dojo-type="dijit/form/NumberSpinner" class="spinner" id="${baseClass}__fontSize" value="16"  data-dojo-props="smallDelta:1, constraints:{min:1,max:100,places:0}" name="someNumber" />
            <label class="inlineLabel" for="${baseClass}__boldCheckBox" style="font-family:'Times New Roman', Times, serif;"><strong>B</strong></label>
            <input id="${baseClass}__boldCheckBox" data-dojo-attach-point="boldCheckBoxNode" name="FillcheckBox" value="agreed" data-dojo-type="dijit/form/CheckBox" />
            <label class="inlineLabel" for="${baseClass}__underlineCheckBox" style="font-family:'Times New Roman', Times, serif;"><u>U</u></label>
            <input id="${baseClass}__underlineCheckBox" data-dojo-attach-point="underlineCheckBoxNode" name="FillcheckBox" value="agreed" data-dojo-type="dijit/form/CheckBox" />
            <label class="inlineLabel" for="${baseClass}__italicCheckBox" style="font-family:'Times New Roman', Times, serif; font-style: italic;">I</label>
            <input id="${baseClass}__italicCheckBox" data-dojo-attach-point="italicCheckBoxNode" name="FillcheckBox" value="agreed" data-dojo-type="dijit/form/CheckBox" />
          </td></tr></table>
          </td>
        </tr>
      </table>
      <br>
      <small>[Right-click text on map to edit]</small> 
    </fieldset>
    <table style="float: right;">
      <tr><td>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="undoGraphicsNode" data-dojo-props="disabled:true, iconClass:'dijitEditorIcon dijitEditorIconUndo', showLabel:true">Undo</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="redoGraphicsNode" data-dojo-props="disabled:true, iconClass:'dijitEditorIcon dijitEditorIconRedo', showLabel:true">Redo</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="clearGraphicsNode" data-dojo-props="disabled:false, iconClass:'dijitEditorIcon dijitEditorIconRemoveFormat', showLabel:true" 
          data-dojo-attach-event="onClick:_clearGraphicsClick" title="Erase all graphics">Erase All</button>
      </td></tr>
    </table>
  </form>
</div> 