﻿<div class="${baseClass}">

    <div data-dojo-attach-point="infoReportTabContentNode">
      <div id="infoReportinfoReportinfoReport">
      </div>

      <div class="printHeader" data-dojo-attach-point="printHeaderNode">
        <fieldset class="printPanel" data-dojo-type="dijit/Fieldset"><legend>Print</legend>
            <table width='100%'>
              <tr>
                <td style="width:50px;">
                  <input type="radio" id="${baseClass}_pdf" name="format" checked value="pdf" data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="pdfRadioNode" /> 
                  <label for="${baseClass}_pdf" data-dojo-attach-point="pdfNode">PDF</label>
                </td>
              </tr><tr>
                <td>
                  <input type="radio" id="${baseClass}_xls" name="format" value="xls" data-dojo-type="dijit/form/RadioButton" /> 
                  <label for="${baseClass}_xls" data-dojo-attach-point="xlsNode">Excel</label>
                </td>
              </tr><tr>
                <td>
                  <small data-dojo-attach-point="printLinkHintNode" class="reportHint">[Click link to download]</small>
                </td>
              </tr>
            </table>
            <button data-dojo-attach-point="printNode" data-dojo-type="dijit/form/Button" class="printButton" type="button" data-dojo-props="disabled:true, iconClass:'dijitIconPrint', showLabel:true">Print Report</button>
        </fieldset>
      </div>
      <div class="report" data-dojo-attach-point="reportNode">
        <div id="${baseClass}_reportNode" data-dojo-attach-point="reportContentNode">
          <div class="reportHint"><small>Note: Report shows maximum of 100 lots.</small></div>
          <table class="alternateRowsTable">
            <thead>
              <tr><th>#</th><th>&nbsp</th><th>&nbsp</th><th>Lot</th><th>Plan</th><th>Section</th><th>Conservation Commitments</th></tr>
            </thead>
            <tbody id="${baseClass}_resultRows" data-dojo-attach-point="resultRows"> </tbody>
          </table>
        </div>
        <div data-dojo-attach-point="reportDisclaimerNode"> 
          <div class="reportHint"><br /><small></small></div>
        </div>
      </div>
      <div id="${baseClass}_warningNode" data-dojo-attach-point="warningNode"> </div>
      <br />

    </div>
    
    <div data-dojo-type="dojox/widget/Standby" data-dojo-attach-point="busyNode"></div>

</div>