<div>
  <div class="${theme}" role="presentation">
    <div data-dojo-attach-point="_mapBusyNode" class="${_css.mapBusyOverlay} pageOverlay hidden"></div>
    <div class="${_css.container}">
      <div tabindex="0" data-dojo-attach-point="_homeNode" title="${_i18n.widgets.mapNavigation.home.title}" role="button" class="${_css.home}"><span>${_i18n.widgets.mapNavigation.home.button}</span></div>
      <div tabindex="0" data-dojo-attach-point="_previousNode" title="${_i18n.widgets.mapNavigation.previous.title}" role="button" class="${_css.previous}"><span>${_i18n.widgets.mapNavigation.previous.button}</span></div>
      <div tabindex="0" data-dojo-attach-point="_nextNode" title="${_i18n.widgets.mapNavigation.next.title}" role="button" class="${_css.next}"><span>${_i18n.widgets.mapNavigation.next.button}</span></div>
    </div>
  </div>
</div>