  <div class="${baseClass}">
    <fieldset class="${baseClass}Layout">
      <legend class="${baseClass}Legend">
        Scale 1:
      </legend>
      <select data-dojo-type="dijit/form/ComboBox" name="mapScaleInput" class="${baseClass}Input" data-dojo-attach-point="mapScaleInputNode"  
        data-dojo-attach-event="onKeyPress:_mapScaleUserKeypress" maxLength="10"
        data-dojo-props="regExp:'(((\[0-9]{1,3})(,\[0-9]{3})*)|(\[0-9]+))(.\[0-9]+)?', invalidMessage:'Please enter a numeric value.'">
      </select>
      <button class="${baseClass}Go" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_mapScaleUserUpdate" type="button" >
        GO
      </button>
    </fieldset>
  </div>