﻿<div class="${baseClass}">
  <div id="${baseClass}_container">
     
    <div data-dojo-attach-point="mapTabNode" data-dojo-type="dijit/layout/ContentPane" title="Map" data-dojo-props="selected:true">
      <form action="#" class="formCenteredControls">
        <fieldset>
          <label>Format:</label>
          <select data-dojo-attach-point="printFormatNode" name="printFormat" data-dojo-type="dijit/form/Select" style="width: 80px;">
            <option value="PDF" selected="selected">PDF</option>
            <option value="PNG">PNG</option>
            <option value="JPG">JPG</option>
          </select>
          <div class="spacerDiv"></div>
          <label>Template:</label>
          <select name="mapTemplate" data-dojo-attach-point="mapTemplateNode" data-dojo-type="dijit/form/Select" style="width:70%;">
          </select>
          <div class="spacerDiv"></div>
          <label>Title:</label>
          <input data-dojo-attach-point="mapTitleInputNode" type="text" name="titleInput" value="" placeholder="Enter a title for your Map"
                  data-dojo-type="dijit/form/TextBox" style="width:70%;" size="20" />
          <div class="spacerDiv"></div>
          <button data-dojo-attach-point="mapPrintGoNode" data-dojo-type="dijit/form/Button" type="button" style="float: right;" data-dojo-props="disabled:false, iconClass:'dijitIconPrint', showLabel:true">Save and Print Map</button>
        </fieldset>
      </form>
      <div class="printResults">
        <b>Results</b>
        <p><small>[click link below to open printed map...]</small></p>
        <table class="resultsTable" data-dojo-attach-point="mapPrintResultsTableNode"></table>
      </div>
    </div>

  </div>
</div>