<div class="${baseClass}">
  <div id="${baseClass}_container">
    <form action="#" class="alignedControls">
      <div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="searchAccordionNode">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="lotSearchNode" title="Lot, Plan, Section" selected="true">
          <table style="width:250px;">
            <tr>
              <td><label>Lot</label></td>
              <td><input type="text" name="" value="" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="lotNode" style="width:60px;" size="6" maxlength="6"/></td>
              <td><label>Plan</label></td>
              <td><input type="text" name="" value="" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="planNode" style="width:80px;" size="15" maxlength="15"/></td>
              <td><label>Section</label></td>
              <td><input type="text" name="" value="" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="sectionNode" style="width:35px;" size="3" maxlength="3"/></td>
            </tr>
          </table>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="postcodeSearchNode" title="Postcode and Suburb">
          <table>
            <tr>
              <td style="width: 70px;"><label>Postcode</label></td>
              <td><label>Suburb</label></td>
            </tr><tr>
              <td><select name="Postcode" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="postcodeNode" style="width: 66px;">
              </select></td>
              <td><select name="Suburb" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="suburbNode" style="width: 100%;">
              </select></td>
            </tr>
          </table>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="lgaSearchNode" title="Local Government Area">
          <table>
            <tr>
              <td style="width: 45px;"><label>LGA</label></td>
            </tr>
            <tr>
              <td>
                <select name="LGA" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="lgaNode" style="width: 100%;"></select>
              </td>
            </tr>
          </table>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="ibraSearchNode" title="IBRA Region and Sub-region">
          <table>
            <tr>
              <td style="width: 65px;"><label>Bioregion</label></td>
              <td><select name="Bioregion" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="regionNode" style="width: 100%;">
              </select></td>
            </tr><tr>
              <td><label>Sub-region</label></td>
              <td><select name="Sub-bioregion" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="subregionNode" style="width: 100%;">
              </select></td>
            </tr>
          </table>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="cmaSearchNode" title="CMA and Sub-CMA">
          <table>
            <tr>
              <td style="width: 65px;"><label>CMA</label></td>
              <td>
                <select name="CMA" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="cmaNode" style="width: 100%;"></select>
              </td>
            </tr>
            <tr>
              <td><label>Sub-CMA</label></td>
              <td>
                <select name="Sub-CMA" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="subcmaNode" style="width: 100%;"></select>
              </td>
            </tr>
          </table>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="llsSearchNode" title="Local Land Service">
          <table>
            <tr>
              <td style="width: 45px;"><label>Local Land Service</label></td>
            </tr>
            <tr>
              <td>
                <select name="LLS" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="llsNode" style="width: 100%;"></select>
              </td>
            </tr>
          </table>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="mitchellSearchNode" title="Mitchell Landscapes">
          <table>
            <tr>
              <td style="width: 45px;"><label>Mitchell Landscapes</label></td>
            </tr>
            <tr>
              <td>
                <select name="Mitchell" data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="mitchellNode" style="width: 100%;"></select>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="options">
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="clearSelectedNode" data-dojo-props="disabled:true, iconClass:'dijitEditorIcon dijitEditorIconRemoveFormat', showLabel:true" 
          title="Clear selected features" type="button">Clear Selected</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="zoomToNode" title="Zoom to selected features" data-dojo-props="disabled:true" type=" button">Show Selected</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="searchNode" title="Search and select features" type="button">Search</button>
      </div>
    </form>
    <div class="results" data-dojo-attach-point="resultsNode"></div>
    <div class="searchBusy" data-dojo-type="dojox/widget/Standby" data-dojo-attach-point="busyNode"></div>
  </div>
</div>