<div class="${baseClass}">
  <div id="${baseClass}_container">
    <form id="${baseClass}_form" action="#" class="alignedControls">
      <div class="formHeader">
        <div class="selectToolbar" data-dojo-attach-point="toolbarNode">
          <div tabindex="0" class="toolSelectBuffer" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolBufferNode" title="Select by buffer"></div>
          <div tabindex="0" class="toolSelectRectangle" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolRectangleNode" title="Select by rectangle"></div>
          <div tabindex="0" class="toolSelectPoint" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolPointNode" title="Select by click"></div>
          <div tabindex="0" class="toolSelectPolygon" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolPolygonNode" title="Select by polygon"></div>
          <div tabindex="0" class="toolSelectFreehandPolygon" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolFreehandPolygonNode" title="Select by freehand polygon"></div>
          <div tabindex="0" class="toolSelectCircle" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolCircleNode" title="Select by circle"></div>
          <div tabindex="-1" style="font-size:18px; color:rgb(125,125,125);">&nbsp;&#124;&nbsp;</div>
          <div tabindex="0" class="toolSelectExtent" data-dojo-type="dijit/MenuBarItem" data-dojo-attach-point="toolExtentNode" title="Select by map extent"></div>
        </div>
      </div>
      <fieldset data-dojo-attach-point="selectNode">
        <table>
          <tr>
            <td>
              <label>Buffer</label>
            </td><td>
              <input data-dojo-type="dijit/form/NumberSpinner" data-dojo-attach-point="radiusNode" class="spinner" value="100" 
                data-dojo-props="smallDelta:1, constraints:{min:1,places:0}" style="width:96px;" title="Distance (radius)" />
              <select name="Unit" data-dojo-type="dijit/form/Select" data-dojo-attach-point="radiusUnitNode" style="width: 100px; font-size:120%;" title="Distance unit">
                <OPTION value="metre" selected="selected">Metres</OPTION>
                <OPTION value="kilometre">Kilometres</OPTION>
              </select>
            </td>
          </tr><tr>
            <td>
              <label>Select from</label>
            </td><td>
              <select name="Layer" data-dojo-type="dijit/form/Select" data-dojo-attach-point="layerNode" style="width: 202px; font-size:120%;" title="Layer to select from">
              </select>
            </td>
          </tr>
        </table>
        <br>
        <small>[SHIFT + select to add to current selection]</small> 
      </fieldset>
      <div class="options">
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="clearSelectedNode" data-dojo-props="disabled:false, iconClass:'dijitEditorIcon dijitEditorIconRemoveFormat', showLabel:true" 
          title="Clear selected features">Clear Selection</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="zoomToNode" title="Zoom to selected features" data-dojo-props="disabled:true" type=" button">Show Selected</button>
      </div>
    </form>
    <div class="results" data-dojo-attach-point="resultsNode"></div>
    <div data-dojo-type="dojox/widget/Standby" data-dojo-attach-point="busyNode"></div>
  </div>
</div>