
.AreaReportWidget .printHeader {
  position: absolute;
  right: 20px;
  width: 155px;
  margin-right: 20px;
}
.AreaReportWidget .printPanel {
  margin: 0.1em;
  border: 1px solid silver;
  width: 135px;
}
.AreaReportWidget .report {
  margin-right: 175px;
  padding: 10px;
}

.AreaReportWidget .report table {
  border-collapse: collapse;
}
.AreaReportWidget .borderedTable table, .AreaReportWidget .borderedTable th, .AreaReportWidget .borderedTable td {
  text-align: left;
  border: 1px solid silver;
  padding: 4px;
}
.AreaReportWidget .report td {
  vertical-align: top;
}

.AreaReportWidget .errorText {
  color: red;
}
.AreaReportWidget .warning
{ 
  width: 400px;
  margin: 20px;
  border-radius: 5px;
  color: #616161;
  padding: 10px;
  background-color: #D1D6DB;
}

.AreaReportWidget .error {
  background-image: url(../images/PrintError.png); 
  background-position: left center; 
  background-repeat: no-repeat; 
  padding-left: 30px;
}

.AreaReportWidget .warningInfo {   
  margin-top: 8px;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 10px;
}