.contentPane {
}

.contentPaneTitle {
  position: absolute;
  width: 100%;
  background-color: rgb(67, 87, 113); /*#000000  rgba(141,175,221,1);*/
  color: #FFFFFF;
  height: 15px;
  font-weight: bold;
  border-top: 1px solid rgb(67, 87, 113); /*rgb(70,70,70);*/
  border-bottom: 1px solid rgb(67, 87, 113); /*rgb(70,70,70);*/
  padding: 4px 4px 4px 8px;
  z-index: 500;
}

.contentPaneContent {
  margin: 25px 0px 25px 0px;
  height: calc(100% - 25px);
  overflow: auto;
}