.DrawWidget {
  width: 330px;
}
.DrawWidget .formHeader {
  padding-left: 0.4em; 
  padding-top: 0.4em;
}
.DrawWidget .toolbar {
  display: flex;   /* prevents the inline-block white-space padding between menu items */
}
.DrawWidget table tr td {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
.DrawWidget .dijitTextBox {
  height: 20px;
  font-size: 120%;
}
.DrawWidget .spinner {
  width: 50px;
  height: 18px;
  font-size: 120%;
}
.DrawWidget fieldset {
  margin: 0.4em 0.4em 0.4em 0.7em;
  padding: 0.5em;
  border-style: solid;
  border-width: thin;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.DrawWidget .alignedControls label:not(.inlineLabel) {
  font-size: 1.0em;
  float: left;
  text-align: left;
}
.DrawWidget table .dijitDropDownButton {
  margin: 0em;
}
.DrawWidget .dijitMenuItem {
  margin: 0px 1px 0px 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border: 2px solid rgba(0,0,0,0);
  width: 22px;
  height: 20px;
}
.DrawWidget .dijitMenuItem:not(.dijitDisabled):focus {    
  border: 2px solid rgb(88,133,191);
}
.DrawWidget .dijitMenuItem:not(.dijitDisabled):hover {
  border: 2px solid rgb(88,133,191);
}
.DrawWidget .dijitMenuItem.selected {
  border: 2px solid rgba(0,0,0,0);
  background-color: rgba(192,215,245,1);
  border: 2px solid rgb(88,133,191);
}
.DrawWidget .dijitMenuItem.dijitDisabled {
  opacity: 0.2;
}
.DrawWidget .toolDrawPoint {
  background-image: url(../images/draw/draw-point.png);
}
.DrawWidget .toolDrawMultipoint {
  background-image: url(../images/draw/multipoint.png);
}
.DrawWidget .toolDrawPolyline {
  background-image: url(../images/draw/draw-polyline.png);
}
.DrawWidget .toolDrawFreehandPolyline {
  background-image: url(../images/draw/draw-freehand-polyline2.png);
}
.DrawWidget .toolDrawPolygon {
  background-image: url(../images/draw/draw-polygon.png);
}
.DrawWidget .toolDrawFreehandPolygon{
  background-image: url(../images/draw/draw-freehand-polygon2.png);
}
.DrawWidget .toolDrawCircle {
  background-image: url(../images/draw/circle.png);
}
.DrawWidget .toolDrawRectangle {
  background-image: url(../images/draw/rectangle.png);
}
.DrawWidget .toolDrawEllipse {
  background-image: url(../images/draw/ellipse.png);
}
.DrawWidget .toolDrawTriangle {
  background-image: url(../images/draw/triangle.png);
}
.DrawWidget .toolDrawArrow {
  background-image: url(../images/draw/arrow.png);
}
.DrawWidget .toolDrawText {
  background-image: url(../images/draw/draw-text.png);
}
.DrawWidget .clearGraphics .dijitButtonContents {
  background-image: url(../images/draw/trash.png);
  height: 26px;
  width: 26px;
}