
.InfoReportWidget .printHeader {
  position: absolute;
  right: 20px;
  width: 155px;
  margin-right: 20px;
}
.InfoReportWidget .printPanel {
  margin: 0.1em;
  border: 1px solid silver;
  width: 135px;
}
.InfoReportWidget .report {
  margin-right: 175px;
  padding: 10px;
}

.InfoReportWidget fieldset {
  margin: 0px;
}
.InfoReportWidget .report table {
  border-collapse: collapse; 
  width: 98%;
}
.InfoReportWidget .alternateRowsTable table, .InfoReportWidget .alternateRowsTable td {
  text-align: left;
  border: 0px solid silver;
  padding: 4px;
}
.InfoReportWidget .alternateRowsTable th {
  text-align: left;
  color: #FFFFFF;
  border: 0px solid silver;
  background-color: rgb(131, 131, 131);
  padding: 10px 10px 10px 2px;
}
 .InfoReportWidget .alternateRowsTable tr:nth-child(even) {
   background: #e5e5e5;
 }
 .InfoReportWidget .alternateRowsTable tr:nth-child(odd) {
   background: #FFF;
 }
.InfoReportWidget .alternateRowsTable tr:hover {
  background: #CCC !important;
}
.InfoReportWidget .alternateRowsTable tr[selected=true] {
  background: rgba(0, 255, 255, 0.5) !important;
}

/*.InfoReportWidget .report td {
  vertical-align: top;
}*/

.InfoReportWidget .errorText {
  color: red;
}
.InfoReportWidget .warning
{ 
  width: 400px;
  margin: 20px;
  border-radius: 5px;
  color: #616161;
  padding: 10px;
  background-color: #D1D6DB;
}

.InfoReportWidget .error {
  background-image: url(../images/PrintError.png); 
  background-position: left center; 
  background-repeat: no-repeat; 
  padding-left: 30px;
}

.InfoReportWidget .warningInfo {   
  margin-top: 8px;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 10px;
}