.mapNavigation span {
	display:none;
}

.mapNavigationContainer {
  position: absolute;
  top: 95px;
  left: 20px;
  z-index: 50;
}

.mapNavigation [role=button] {
  padding:2px;
  width:30px;
	height:30px;
	background-color: #666;
	background-color: rgba(102,102,102,0.80);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background-position:center center;
	background-repeat:no-repeat;
}

.mapNavigation [role=button].home:not(.loading)  {
	background-image:url(../images/home_nsw_thick_white.png);
}

.mapNavigation [role=button].previous:not(.loading)  {
	background-image:url(../images/back.png);
  background-size:18px 24px;
}

.mapNavigation [role=button].next:not(.loading)  {
	background-image:url(../images/forward.png);
  background-size:18px 24px;
}

.mapNavigation [role=button].home.disabled  {
	background-image:url(../images/home_grey.png);
}

.mapNavigation [role=button].previous.disabled  {
	background-image:url(../images/back_grey.png);
  background-size:18px 24px;
}

.mapNavigation [role=button].next.disabled  {
	background-image:url(../images/forward_grey.png);
  background-size:18px 24px;
}

.mapNavigation [role=button].previous {
  position: relative;
  top: 3px;
}

.mapNavigation [role=button].next {
  position: relative;
  top: 6px;
}

.mapNavigation [role=button]:not(.disabled):hover {
  background-color: #333;
  background-color: rgba(102,102,102,0.90);
}

.mapNavigation [role=button]:not(.disabled):active {
  background-color: #ccc;
  background-color: rgba(102,102,102,0.60);
}

.mapNavigation [role=button].loading {
	background-image:url(../images/home-spinner.gif);
}

.mapNavigation .mapBusyOverlay:not(.hidden) {
  background:  rgba(0,0,0,0) url('../images/loading.gif') no-repeat 50% 50%;
  display: block;
}

.mapNavigation .mapBusyOverlay.hidden {
  background:  rgba(0,0,0,0) url('../images/loading.gif') no-repeat 50% 50%;
  display: none;
}

.pageOverlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: block;
}