.MapScaleControlWidget {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  background-color: #666;
  background-color: rgba(0,0,0,0);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 60px;
  left: 20px;
  z-index: 50;
}

.MapScaleControlWidgetLayout {
  display: inline;
  width: 145px;
  height: 40px;
  color: rgb(100,100,100);
}
.MapScaleControlWidgetInput {
  width:100px;
}

.MapScaleControlWidgetGo {
  margin: 0px 0px 0px -2px; 
  position: relative; 
  left: 5px;
}