﻿.PrintWidget .printResults {
  padding: 0.7em;
}

.PrintWidget .resultsTable {
  padding: 4px;
}

.PrintWidget .narrowColumn {
  width: 20px;
}

.PrintWidget .spacerDiv {
  height: 10px;
}

.PrintWidget .printError {
  background-image: url(../images/PrintError.png); 
  background-position: left center; 
  background-repeat: no-repeat; 
  padding-left: 30px;
}

.PrintWidget .formCenteredControls label {
  float: left;
  width: 25%;
  margin-right: 0.5em;
  padding-top: 0.1em;
  text-align: right;
  font-weight: bold;
}

.PrintWidget fieldset {
  margin: 0.7em;
  padding: 1.0em;
  border-style: solid;
  border-width: thin;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}