.SearchWidget .formHeader {
  margin: 0em 0em 0em 0.7em;
  padding-top: 0.4em;
}
.SearchWidget table {
  margin: 5px; 
  width: 100%; 
  padding: 0px 10px 0px 0px;
}
.SearchWidget table tr td {
  border: 0px;
  margin: 0px;
}
.SearchWidget .dijitTextBox {
  font-size: 100%;
}
.SearchWidget .results {
  margin: 0.7em 0.4em 0.4em 0.7em;
  clear: both;
  float: right;
}
.SearchWidget .options   {
  margin: 0.4em 0.3em 0em 0em;
  width: 100%;
  display: block;
}
.SearchWidget .options .dijitButton  {
  float: right;
  margin: 0.2em 0.2em 0em 0.2em;
}
.SearchWidget .options .dijitButtonNode {
  height: 18px;
}
.SearchWidget .alignedControls label {
  font-size: 1.0em;
  float: left;
  text-align: left;
}
.SearchWidget table .dijitDropDownButton {
  margin: 0em;
}
.SearchWidget {
  width: 100%;
  height: 100%;
}
.SearchWidget #SearchWidget_container {
  width: 100%;
  height: 100%;
}
.SearchWidget .searchBusy {
  width: 100%;
  height: 100%;
}