.SelectWidget {
  width: 315px;
}
.SelectWidget .formHeader {
  margin: 0em 0em 0em 0.7em;
  padding-top: 0.4em;
}
.SelectWidget .selectToolbar {
  display: flex;   /* prevents the inline-block white-space padding between menu items */
}
.SelectWidget table tr td {
  padding: 3px;
  border: 0px;
  margin: 0px;
}
.SelectWidget .dijitTextBox {
  height: 20px;
  font-size: 120%;
}
.SelectWidget .spinner {
  width: 50px;
  height: 18px;
  font-size: 120%;
}
.SelectWidget fieldset {
  margin: 0.4em 0.4em 0.4em 0.7em;
  padding: 0.5em;
  border-style: solid;
  border-width: thin;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.SelectWidget .results {
  margin: 0.7em 0.4em 0.4em 0.7em;
  width: 100%;
  clear: both;
}
.SelectWidget .options {
  margin: 0em 0.3em 0em 0em;
  width: 100%;
  display: block;
}
.SelectWidget .options .dijitButton  {
  float: right;
}
.SelectWidget .alignedControls label {
  font-size: 1.0em;
  float: left;
  text-align: left;
}
.SelectWidget table .dijitDropDownButton {
  margin: 0em;
}
.SelectWidget .dijitMenuItem {
  margin: 0px 1px 0px 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border: 2px solid rgba(0,0,0,0);
  width: 22px;
  height: 20px;
}
.SelectWidget .dijitMenuItem:not(.dijitDisabled):hover {
  border: 2px solid rgb(88,133,191);
}
.SelectWidget .dijitMenuItem.selected {
  border: 2px solid rgba(0,0,0,0);
  background-color: rgba(192,215,245,1);
  border: 2px solid rgb(88,133,191);
}
.SelectWidget .dijitMenuItem.dijitDisabled {
  opacity: 0.2;
}
.SelectWidget .toolSelectPoint {
  background-image: url(../images/select/select_click.png);
}
.SelectWidget .toolSelectPolygon {
  background-image: url(../images/select/select_polygon.png);
}
.SelectWidget .toolSelectFreehandPolygon{
  background-image: url(../images/select/select_freehand_poly.png);
}
.SelectWidget .toolSelectCircle {
  background-image: url(../images/select/select_circle.png);
}
.SelectWidget .toolSelectRectangle {
  background-image: url(../images/select/select_rectangle.png);
}
.SelectWidget .toolSelectBuffer {
  background-image: url(../images/select/select_buffer.png);
}
.SelectWidget .toolSelectExtent {
  background-image: url(../images/select/select_extent_rect.png);
}
.SelectWidget .clearGraphics .dijitButtonContents {
  height: 26px;
  width: 26px;
}
.SelectWidget .loader {
  height: 20px;
  width: 120px;
  background-image: url(../images/loader_long.gif);
}