.agsjsTOCNode{padding-top:1px;padding-bottom:1px;}
.agsjsTOCContent{white-space:nowrap;}
.agsjsTOCOutOfScale{color:grey;opacity:.5;}
.agsjsTOCIcon{vertical-align:bottom;}
.agsjsTOCRootLayerLabel{font-size:9pt;font-weight:bold;}
.agsjsTOCGroupLayer{font-weight:bold;}
.agsjsTOCGroupLayerLabel{font-size:8pt;}
.agsjsTOCServiceLayer{font-weight:bold;}
.agsjsTOCServiceLayerLabel{font-size:8pt;padding-left:2px;}
.agsjsTOCLegendLabel{font-size:8pt;padding-left:2px;}
.agsjsTOCSlider{padding:5px 20px 5px 30px;}
.agsjsTOCMetadata{float: right;}